# vim: sw=4 ts=4
[user]
	name = Webber Wu
	email = chenshin0719@gmail.com
[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
[push]
	default = current
[alias]
    cm = commit -a
    st = status
    co = checkout
    br = branch
    lg = log --graph --date=iso --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)<%an>%Creset'
